.ub-autocomplete-container {
	margin-bottom: 5px;
}

.ub-autocomplete-selection {
	border: 1px solid black;
	margin: 4px;
	padding: 2px;
	border-radius: 4px;
}

.ub-autocomplete-list {
	position: absolute;
	z-index: 1;
	max-height: 100px;
	overflow-y: scroll;
	> div {
		&:nth-child(odd) {
			background-color: #eeeeee;
		}
		&:nth-child(even) {
			background-color: #ffffff;
		}
		&:focus {
			background-color: #aaaaaa;
		}
	}
}

.ub-block-post-grid-excerpt > div > p:last-child {
	margin-bottom: 0;
}

/*MOVE FF TO COMMON.SCSS*/

.ub-spacing-panel {
	$spacingPanelInterval: 45px;
	display: grid;
	grid-template-columns: $spacingPanelInterval $spacingPanelInterval $spacingPanelInterval $spacingPanelInterval $spacingPanelInterval;
	input {
		text-align: end;

		//MOZILLA
		-moz-appearance: textfield;

		//CHROME
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.ub-spacing-margin-unit-container,
.ub-spacing-padding-unit-container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
